@use 'variables';
main{
    background: url("../../images/mainpagebg.jpeg");
    height: 120vh;
    background-size: cover;
    display: flex;
    justify-content: end;
    padding: 3rem;
    .container{
        // padding: 3rem;
        display: flex;
        height: 100%;
        justify-content: center;
        flex-direction: column;
        h1{
            font-size: 4rem;
            font-family: 'Courier New', Courier, monospace;
        }
        h3{
            color: variables.$brown;
            font-size: 1.5rem;
            font-family: monospace;
        }
    }
}

@media(max-width:767px){
    main{
        align-items: center;
        justify-content: center;
    }
}