@use 'variables';

.men{
    padding: 2rem;
    display: flex;
    gap: 10%;
    .menheading{
        writing-mode: vertical-rl;
        text-orientation: upright;
        color: variables.$brown;
        text-transform: uppercase;
        font-weight: 900;
        font-family: monospace;
        font-size: 2rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .container{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 5%;
        width: 100%;
        align-items: center;
        justify-content: center;
        .product{
            
            .productview{
                box-shadow:2.8px 2.8px 2.2px rgba(0, 0, 0, 0.02),
                6.7px 6.7px 5.3px rgba(0, 0, 0, 0.028),
                12.5px 12.5px 10px rgba(0, 0, 0, 0.035);
                outline: 1px solid variables.$brown;
                border-top-right-radius: 1rem;
                border-bottom-left-radius: 1rem;
                width: 100%;
                min-height: 50vh;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: end;
                img{
                    max-width: 350px;
                    max-height: 200px;
                }
                h1{
                    font-family: "Poppins";
                    font-size: 1rem;
                    font-weight: 300;
                    margin-top: 1rem;
                }
                .quickviewbtn{
                    text-decoration: none;
                    text-transform: uppercase;
                    color: variables.$fff;
                    font-size: 12px;
                    font-family: monospace;
                    background-color: variables.$sky;
                    padding: 10px;
                    border-radius: 20px;
                    cursor: pointer;
                    margin: 10px;
                    &:hover{
                        background-color: transparent;
                        outline: 1px solid variables.$sky;
                        color: variables.$sky;
                    }
                }

                &:hover{
                    scale: 1.05;
                    cursor: pointer;
                }
            }
            

            .quickview{
                display: none;
                background-color: #555;
                position: fixed;
                top: 40vh;
                right: 15%;
                // display: flex;
                height: 50vh;
                align-items: center;
                z-index: 1;
                box-shadow:12.5px 12.5px 10px rgba(0, 0, 0, 0.035),100px 100px 80px rgba(0, 0, 0, 0.07);
                border-top-right-radius: 1rem;
                outline: 1px solid #555;
                .img-div{
                    box-shadow:100px 100px 80px rgba(0, 0, 0, 0.07);
                    height: 100%;
                    display: flex;
                    max-width: 50%;
                    img{
                        // width: ;
                        border-bottom-right-radius: 1rem;
                        border-top-right-radius: 1rem;
                        height: 100%;
                    }
                }

                .cancelbtn{
                    position: absolute;
                    top: 1rem;
                    right: 1rem;
                    // z-index: 8;
                    cursor: pointer;
                    text-decoration: none;
                    i{
                        color: variables.$fff;
                        font-size: 1.5rem;
                    }
                }

                .productdescr{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-direction: column;
                    width: 50%;

                    .name{
                        font-family: "Poppins";
                        font-weight: 400;
                        color: variables.$fff;
                        font-size: 25px;
                        letter-spacing: 1px;
                    }

                    .descripton{
                        text-align: center;
                        font-size: 15px;
                        color: variables.$fff;
                        font-family: "Poppins";
                        width: 70%;
                    }

                    .price{
                        color: variables.$fff;
                        i{
                            font-family: "Poppins";
                            font-size: 25px;
                            font-weight: 200;
                            padding: 10px;
                            letter-spacing: 1px;
                        }
                    }
                    
                    .addcart{
                        text-decoration: none;
                        text-transform: uppercase;
                        color: variables.$fff;
                        font-size: 12px;
                        font-family: monospace;
                        background-color: variables.$sky;
                        padding: 10px;
                        border-radius: 20px;
                        cursor: pointer;
                        &:hover{
                            background-color: transparent;
                            outline: 1px solid;
                        }
                    }

                    .addwish{
                        margin: 5px;
                        text-decoration: none;
                        color: variables.$fff;
                        text-transform: uppercase;
                        font-family: monospace;
                        font-size: 12px;
                    }
                }
            }
        }
    }

}

@media(max-width: 900px){
    .men{
        
        gap: 5%;
        // align-items: baseline;
        justify-content: end;
        flex-direction: column;
        .menheading{
            writing-mode: horizontal-tb;
            // text-orientation: ;
        }
        .container{
            display: flex;
            flex-direction: column;
            width: 100%;
            gap: 1rem;

            .product{
                width: 90%;
                .quickview{
                    top: 20vh;
                    left: 5%;
                    width: 90%;
                    // display: none;
                    // flex-wrap: nowrap;
                    flex-direction: row;
                    .img-div{
                        // outline: 1px solid red;
                        img{
                            width: 100%;
                        }
                    }
                    .productdescr{
                        .name{
                            font-size: 1rem;
                            letter-spacing: normal;
                            padding: 10px 0;
                        }

                        .descripton{
                            width: 90%;
                        }
                    }
                }
            }
        }
    }

}