@use 'variables';

.men{
    padding: 2rem;
    display: flex;
    gap: 10%;
    .menheading{
        writing-mode: vertical-rl;
        text-orientation: upright;
        color: variables.$brown;
        text-transform: uppercase;
        font-weight: 900;
        font-family: monospace;
        font-size: 2rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .container{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 2%;
        width: 100%;
        div{
            width: 100%;
            height: 50vh;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: end;
            img{
                aspect-ratio: 2/3;
            }
            h1{
                font-family: monospace;
                font-size: 1rem;
                margin-top: 1rem;
            }
        }
    }

}

@media(max-width: 767px){
    .men{
        gap: 5%;
        .container{
            grid-template-columns: repeat(2, 1fr);
            width: 100%;
            gap: 1rem;
            div{
                width: 100%;
            }
        }
    }

}