@use 'variables';

nav{
    display: flex;
    background-color: variables.$brown;
    align-items: center;
    padding: 1rem 10px;
    width: 100%;
    .nav-body{
        width: 100%;
        display: flex;
        gap: 30%;
        align-items: center;
        .nav-brand{
            width: 50%;
            p{
                color: variables.$fff;
                font-size: 1.3rem;
                font-family: monospace;
                span{
                    color: variables.$gold;
                    font-style: italic;
                    font-size: 1.7rem;
                }
            }
        }
        
        .nav-content{
            display: flex;
            width: 100%;
            gap: 20px;
            li{
                list-style: none;
                a{
                    text-decoration: none;
                    color: variables.$fff;
                    font-family: monospace;
                    font-size: 1rem;
                    transition: all .3s ease-in-out;
                    &:hover{
                        color: variables.$gold;
                    }
                }
            }
        }
    }

    .hamdiv{
        display: none;
        transition: opacity 0.5s ease-in-out;
        i{
            font-size: 2rem;
            cursor: pointer;
            color: variables.$fff;
            transition: all .3s ease-in-out;
            &:hover{
                color: variables.$gold;
            }
        }
    }
}
