@use 'variables';
@use 'nav';
@use 'main';
@use 'men';
*{
    margin: 0;
    padding: 0;
    // outline: 1px solid red;
    box-sizing: border-box;
    scroll-behavior: smooth;
    transition: all .3s ease-in-out;
}

body{
    min-height: 100vh;
}

@media(max-width:900px) {
    nav{
        align-items: baseline;
        // position: fixed;
        .nav-body{
            width: 80%;
            gap: 3rem;
            display: flex;
            flex-direction: column;
            align-items: start;
            .nav-brand{
                width: 100%;
            }
            .nav-content{
                width: 100%;
                display: none;
                flex-direction: column;
            }
        }
        .hamdiv{
            width: 20px;
            height: 30px;
            display: block;
            cursor: pointer;
        }
    }
}